AnotherGitFolder/3-Semester_Gruppe6/TestLogin/Connected Services/ServiceReference1/DataLibrary1.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLibrary1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLibrary1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuctionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuctionModel" nillable="true" type="tns:AuctionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuctionModel" nillable="true" type="tns:ArrayOfAuctionModel" />
  <xs:complexType name="AuctionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bid" type="xs:decimal" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrentWinner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuctionModel" nillable="true" type="tns:AuctionModel" />
</xs:schema>